*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

.navbar-brand {
    font-family: "Ubuntu", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px; 
}

#navhover:hover{
    opacity: 0.8;
    background-color: rgba(103, 103, 103, 0.926);
}

.icon{
    display: flex; 
    font-size: 23px;
    margin-left: -20px;
    list-style: none;
}

.icon a {
    color: #ffffff;
    padding-right: 20px;
}

.container{
    max-width: 1300px;
    margin:auto;
}

.location-subtitle {
    color: #454545;
}

.info-box {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    gap: 15px;
}

.info-box img {
    width: 40px;
    height: 40px;
}

.main-img {
    width: 100%;
    border-radius: 12px;
    margin-top: 20px;
}

.gallery img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05);
}
    
.contact-form input,
.contact-form select {
    margin-bottom: 12px;
}

.contact-form button {
    background-color: #1ea5e9;
    border: none;
}

.contact-form button:hover {
    background-color: #1683b3;
}

.RightColumn {
    width: 430px;
}

.section-title {
    font-size: 1.6rem;
    font-weight: 600;
    color: #333;
}

.section-subtitle {
    font-size: 1.2rem;
    color: #555;
    font-weight: 500;
}

.card {
    border: none;
    border-radius: 5px;
    overflow: hidden;
    height: 100%;
    box-shadow:0 0 5px rgba(83, 82, 82, 0.88);
}

.card:hover {
    box-shadow:0 0 20px rgba(83, 82, 82, 0.88);
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.card-body {
    padding: 15px;
}

.card-body h5 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #222;
}

.card-text {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.card-text i {
    color: #000000;
    font-size: 0.9rem;
}

.footer {
    background-color: #24262b;
    padding: 40px 0;
}

.footer .container {
    max-width: 1300px;
    margin: auto;
}

.footer .row {
    display: flex;
    flex-wrap: wrap;
}

.footer ul {
    list-style: none;
}

.footer-col {
    width: 25%;
    padding: 0 20px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    background-color: #2575fc;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    margin-left: -28px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 0 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.last-container {
    text-align: center;
    background-color: black;
    color: rgba(255, 255, 255, 0.705);
    height: 80px;
    font-size: 16px;
    padding-top: 30px;
}

@media (max-width: 1200px) { 
    .RightColumn {
        width: 330px;
    }

    .card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .card-body h5 {
        font-size: 1rem;
        font-weight: bold;
        color: #222;
    }

    .col-xl-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media (max-width: 992px) { 
    .card-body {
        max-height: 60px;
        padding: 15px;
    }

    .col-lg-4 {
        flex: 0 0 33%;
        max-width: 33%;
    }
}

@media(max-width: 860px) {
    .RightColumn {
        width: 850px;
    }

    .card{
        margin-bottom: 40px;
    }

    .footer-col {
        width: 50%;
        margin: 15px 0;
    }

    .footer-col ul li a {
        font-size: 14px;
    }

    .footer-col .social-links a {
        height: 35px;
        width: 35px;
        line-height: 35px;
    }
}

@media (max-width: 820px) { 
    .card img {
        width: 100%;
        height: 180px;
        object-fit: cover;
    }

    .col-sm-12 {
        flex: 0 0 33%;
        max-width: 33%;
    }
}

@media(max-width: 600px) {
    .col-sm-12 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .footer-col {
        width: 100%;
        margin: 15px 0;
    }
}

@media (max-width: 480px) {
    .card img {
        width: 100%;
        height: 220px;
        object-fit: cover;
    }

    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}